/* CSS Document */



/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'waltographregular';
    src: url('../fonts/waltograph42-webfont.woff2') format('woff2'),
         url('../fonts/waltograph42-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#111;
	--color-background:#eee;
	--color-sparkle: rgb(255, 217, 0);
	--color-gradient: linear-gradient(
		45deg,
		#BF953F 45%,
		#FCF6BA,
		#B38728,
		#FBF5B7,
		#BF953F 55% );
	--color-gold: #B38728;
}

@media (prefers-color-scheme: dark) {

    :root {

        --color-background:#111;

    }

}





/****************/
/* JOUW STYLING */
/****************/




/****************/
	/* BODY */
/****************/
body {
	font-family: 'waltographregular';
	font-size: 14vmin; 				/* code sanne*/
	font-weight: lighter;
	color:var(--color-main);
	background-color:var(--color-background);

	height:100vh;
	display:grid;
	place-items:center;			/*code sanne*/
}

/****************/
/* KEYFRAMES */
/****************/

@keyframes shimmer-animation {	/* code sanne: https://codepen.io/shooft/pen/WNXRROo?editors=1100 */
	0% {
	  background-position:left center;
	}
	100% {
	  background-position:right center;
	}
  }

  

  @keyframes fade-in {	/* https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
	from {
		opacity:0;
}

	to {
		opacity:1;
	}
  }

  
/******/
/* H1 */
/******/

h1 {
	display:flex;
}

/****************/
/* ALLE LETTERS */
/****************/

section h1 span {				
	/* code sanne: https://codepen.io/shooft/pen/WNXRROo?editors=1100 */
	background-image: var(--color-gradient);

	background-size:800% 100%;
	background-clip:text;
	-webkit-background-clip:text;
	color:transparent;
	opacity: 0;

	/* een comma zodat hij beide animaties pakt en niet maar 1*/
	animation-name: fade-in, shimmer-animation;
	animation-iteration-count: 1, infinite; /*zo lang speelt hij de animatie af voordat hij stopt*/
	animation-duration: 2s, 3.5s;  /* animatie is klaar in 2s, 3.5s*/
	animation-fill-mode: forwards;  /*bepaalt waar de animatie eindigd*/
	animation-timing-function: linear; /*de manier hoe de animatie afspeelt*/

	/* letters 2tm6 want D is groter */
	display: block;
	width: 10vmin;  /*code sanne*/
	text-align: center;
}

/****************/
/* PER LETTER */
/****************/

section h1 span:nth-of-type(1) {
	/* deze letter is breder */
	width: 20vmin;  /*code sanne */
	background-size: 400% 100%; /*halve breedte want letter is 2x zo breed*/

	animation-delay: 0s, 0s;   /*beide animaties 0s? */
  }

section h1 span:nth-of-type(2) {
	/* voor de shimmer een negatieve delay - animatie start dan verder in de animatie */
	/* een portie = animatietijd delen door 7 --> 3.5s / 7 --> .5s */
	/* i krijgt 2 porties omdat de D 2x zo breed is */
	animation-delay: 1s, -1s;
	position: relative;
  }

  section h1 span:nth-of-type(3) {
	/* nu elke keer 1 portie*/
	animation-delay: 2s, -1.5s;
  }

  section h1 span:nth-of-type(4) {
	animation-delay: 3s, -2s;
  }

  section h1 span:nth-of-type(5) {
	animation-delay: 4s, -2.5s;
  }

  section h1 span:nth-of-type(6) {
	animation-delay: 5s, -3s;
  }

/****************/
/* MICKEY MOUSE */
/****************/

/* https://www.youtube.com/watch?v=HCe6dwlfMwE */

.mickey {
	animation: zoom-out 2.5s ease-out;
	animation-fill-mode: forwards; /* animatie blijft op dezelfde plek waar hij stopt*/
	animation-delay: 6s;

	position: absolute;
	top: 27%;  /* positie van het puntje van de i*/
	left: 52%;
	transform: translate(-50%, -50%) scale(20);
	width: 250px;
	height: 250px;
	
	background-image: radial-gradient(90px 90px at 24% 20%,var(--color-gold) 50%, transparent 50%), /*linker oor*/
	radial-gradient(90px 90px at 76% 20%, var(--color-gold) 50%, transparent 50%), /*rechter oor*/
	radial-gradient(160px 160px at center,var(--color-gold) 50%, transparent 50%); /*gezicht*/

	opacity: 0%;
}

@keyframes zoom-out { /* https://codepen.io/vaishali1192/pen/QWdJZVy */
	0% {
		transform: translate(-50%, -50%) scale(20);
		opacity: 20%;
	  }

	  100% {
		transform: translate(-50%, -50%) scale(.6);
		opacity: 100%;

	  }
	}