/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: #000;
	--color-primairy: #393767;
	--color-secundairy: #AEADEA;
	--color-background:#F7F8FF;
	--color-white: #fff; 
	--color-gradient: radial-gradient(circle, rgba(247,248,255,1) 0%, rgba(193,197,226,1) 100%);
}

/* dark mode */ 
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #fff;
		--color-primairy: #393767;
		--color-secundairy: #F7F8FF;
		--color-background: #393767;
		--color-white: #fff;
		--color-gradient: radial-gradient(circle, rgb(97, 56, 130) 0%,rgb(159, 45, 188) 100%);
    }
}

/* responsive */
@media (min-width:38em) { body { padding:3vw; } }
@media (min-width:57em) { body { padding:2.5vw; } }


/************/
/*   BODY  */
/***********/

body {
	font-family: 'Poppins', sans-serif;  color:var(--color-text);	 
	background: var(--color-gradient);
	background-size: 200% 200%;    /* 2x zo breed en hoog als element*/
	background-position:left bottom;    /* de background staat nu linksonder en steekt rechtsboven uit*/
	
	animation-name: gradient-animation;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	margin-top: auto;
	margin-bottom: auto;
}

@keyframes gradient-animation {
	0% {
	  background-position:left bottom;
	}
	100% {
	  background-position:right top;
	}
}

h1 {
	text-align: center;
	color: var(--color-text);
}


/***********/
/* QUOTES */
/**********/

p.quote {  /*blok van de quotes*/
	border: 5px solid var(--color-secundairy);

	text-align: center;
	font-size: 1.5em;
	padding: 0 3em;
	margin: 1em 1.5em;
	
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 10em;
}

body section:first-of-type img {	/*bladeren*/
	width: 7em;
}

body section:first-of-type img:nth-of-type(1) { 	/*blad linksboven*/
	position: absolute;
	left: .6em;
	top: 2.5em;
}

body section:first-of-type img:nth-of-type(2) {   /*blad rechtsonder*/
	position: absolute;
	right: .6em;
	top: 16em;
}


/************/
/* BUTTONS */
/***********/

body section:last-of-type {    /*section om buttons*/
	display: flex;
	flex-direction: row;
	justify-content: center;
}

body button {
	background-color: transparent;
}

body button:nth-of-type(1) img, button:nth-of-type(2) img {
	width: 8em;
}

button#like, button#hate {
	border:none;
	cursor: pointer; 
}

section h2 {        /*de opteller*/
	color: var(--color-white);
	background-color: var(--color-primairy);

	position: absolute;
	font-size: 1.1em;
	margin-left: 5em;
	
	border-radius: 100px;
	padding: 5px 10px;
	z-index: 10;
}

/* animatie like button */
@keyframes bounce-animation {
	0% { transform: scale(1); }      
	5% { transform: scale(.7); }     /* eerst kleiner */
	10% { transform: scale(1.5); }   /* dan groter */
	15% { transform: scale(.7); }
	20% { transform: scale(1.5); }
	25% { transform: scale(.7); }
	30% { transform: scale(1); }     /* vanaf nu doet de animatie 70% van de tijd niks > pauze */
	100% { transform: scale(1); }
}
  
  button#like:hover img {
	animation-name:bounce-animation;
	animation-duration:2s;
	animation-iteration-count:infinite;
	will-change:transform;
}

  /* animatie hate button */
  @keyframes spin-animation {
	0% {
	  transform:rotate(0);
	}
	100% {
	  transform:rotate(360deg);
	}

	0% {
		transform:rotate(0);
	}
}
  
 button#hate:hover img {
	animation: spin-animation 1s infinite linear;
}
